.shopinfo {
  background: #f5f5f5;
  .peisong-img {
    width: 100%;
  }
  .shopinfo-bgcolor {
    color: #666;
  }
  .peisong-content {
    .peisong-title {
      padding: 10px;
      color: #333;
      font-weight: 600;
    }
    .peisong-info {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;

      -webkit-line-clamp: 2;
    }
  }

  .serve {
    display: flex;
    line-height: 1.2;
    .icon-name {
      margin-right: 10px;
      padding: 0 6px;
    }
    .serve-descripton {
    }
  }
  .scene {
    display: flex;
    flex-wrap: wrap;
    .scene-item {
      position: relative;
      width: 150px;
      height: 150px;
      margin-right: 10px;
      .scene-img {
        width: 150px;
        height: 150px;
      }
      .scene-name {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, .5);
        color: #fff;
        font-size: 24px;
        text-align: center;
      }
    }
  }
  .description {
    padding-bottom: 20px;
    border-bottom: 1px #eee solid;
    color: #666;
  }
  .info {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px #eee solid;
    .info-left {
      color: #333;
      font-weight: 600;
    }
    .info-right {
      color: #666;
    }
    .tel {
      color: #00a6ff;
    }
  }
  .qualification {
    color: #333;
    font-weight: 600;
  }
}
