.shopitem {
  display: flex;
  overflow: hidden;
  .shopitem-left {
    margin-right: 20px;
    width: 190px;
    .shopitem-left-img {
      width: 190px;
      height: 190px;
    }
  }

  .shopitem-right {
    padding-right: 20px;
    width: 350px;
    .shopitem-title {
      color: #333333;
      font-weight: 600;
      font-size: 30px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .shopitem-intro {
      font-size: 24px;
      color: #999999;
    }

    .shopitem-pingfen {
      font-size: 24px;
      color: #999999;
    }
    .shopitem-num {
      display: flex;
      justify-content: space-between;
      .shopitem-num-price {
        font-size: 30px;
        color: #FF5339;
        .shopitem-num-price-mini {
          color: #FF5339;
          font-size: 24px;
        }
      }
    }
  }
}
