.shop {
  overflow: hidden;
  display: flex;
  margin: 0 20px;
  padding: 20px 0;
  border-bottom: 1px #eee solid;
  .shop-left {
    width: 130px;
    height: 130px;
    border: 1px #f5f5f5 solid;
    .shop-left-img {
      width: 130px;
      height: 130px;
    }
  }

  .shop-right {
    overflow: hidden;
    flex: 1;
    margin-left: 20px;
    .shop-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 130px;
      .shop-content-name {
        overflow: hidden;
        display: flex;
        align-items: center;
        .shop-content-premium {
          height: 35px;
          line-height: 35px;
          margin-right: 10px;
          padding: 0 10px;
          background: #ffec18;
          color: #6f3f15;
          font-size: 22px;
          font-weight: 600;
          white-space: nowrap;
        }
        .shop-content-title {
          overflow: hidden;
          font-size: 30px;
          font-weight: 600;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      .shop-pingfen {
        display: flex;
        justify-content: space-between;
        color: $color-333;
        .shop-xsqk {
          display: flex;
          align-items: center;
          .shop-onsale {
            margin-left: 10px;
            font-size: 22px;
          }
        }

        .peisong {
          padding: 0 5px;
          background-image: $tag-background-image;
          color: $white-color;
          font-size: 22px;
        }
      }
    }

    .shop-tips {
      display: flex;
      justify-content: space-between;
      .shop-tips-left-title {
        color: $color-666;
        font-size: 22px;
      }
      .shop-tips-right-title {
        color: $color-999;
        font-size: 22px;
      }
      .xian {
        padding: 0 4px;
        color: #e3e3e3;
      }
    }

    .shop-label {
      display: flex;
      margin: 20px 0;
      font-size: 22px;
      .shop-label-item {
        margin-right: 10px;
        padding: 0 8px;
        color: $color-666;
        border: 1px #eee solid;
        font-size: 22px;
      }
    }

    .shop-activity {
      display: flex;
      justify-content: space-between;
      color: $color-333;
      .shop-activity-left {
        width: 400px;
        .shop-activity-item {
          overflow: hidden;
          display: flex;
          margin: 10px;
          .shop-activity-item-icon {
            margin-right: 10px;
            padding: 0 5px;
            color: $white-color;
            font-size: 22px;
            border-radius: 4px;
          }
          .shop-activity-item-title {
            color: $color-666;
            overflow: hidden;
            font-size: 22px;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }

      .shop-activity-right {
        color: $color-999;
        .shop-activity-right-main {
          display: flex;
          align-items: center;
          .shop-activity-right-title {
            font-size: 20px;
          }
          .shop-activity-right-icon {
            font-size: 18px;
          }
        }
      }
    }
  }
}
