.selectcity {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #fff;
  z-index: 10;
  -webkit-overflow-scrolling: touch; //ios不流畅问题
}
.city-show {
  display: block;
}
.city-hide {
  display: none;
}
