.register {
  margin-top: 30px;
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    .logo-content {
      width: 300px;
      height: 120px;
      .logo-image {
        width: 100%;
        height: 100%;
      }
    }
  }
  .form {
    margin: 0 50px;
    display: block;
    .input-row {
      margin-bottom: 20px;
      position: relative;
      display: flex;
      .input {
        flex: 1;
        border: 1px #eee solid;
        padding: 25px 0;
        outline: none;
        padding-left: 20px;
        &::placeholder {
          color: #ccc;
        }
      }
      .inputactive {
        border: 1px #ccc solid;
      }
      .pass {
        border: 1px #4cd86f solid;
      }
      .placeholder {
        color: #ccc;
      }
      .error {
        border: 1px #ff7979 solid;
      }
    }

    .tiptext {
      padding: 40px 0;
      color: #333;
      .text {
        color: #23a2ff;
      }
    }

    .submit {
      border: 0;
      box-shadow: none;
      background: #008cff;
      color: #fff;
      outline: none;

      &:active {
        background: #3ba7ff;
      }
    }

    .login {
      display: block;
      text-align: center;
      color: #ccc;
      padding-top: 20px;
    }
  }
}
