.food {
  height: 100vh;
  .food-topbar {
    position: sticky;
    top: 0;
    z-index: 3;
  }
  .food-shoplist {
    height: calc(100vh - 160px);
    -webkit-overflow-scrolling: touch; // ios
  }
  .food-filterbar {
    top: 80px;
  }
  .no-page {
    top: 0;
  }
}
