.discover {
  height: 100%;
  background: #f5f5f5;
  .discover-main {
    background: #fff;
    .discover-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 160px;
      margin-left: 50%;
      padding: 0 30px;
      &:first-child {
        align-items: normal;
        justify-content: space-between;
        position: absolute;
        left: 0;
        width: calc(50% - 56px);
        height: 264px;
        margin: 0;
        padding: 44px 22px 12px 32px;
        border-right: 1px #ededed solid;
        .discover-img {
          align-self: flex-end;
          width: 150px;
          height: 150px;
        }
      }
      &:nth-child(2) {
        border-bottom: 1px #ededed solid;
      }
      .discover-left {
        .discover-title {
          font-size: 32px;
        }

        .discover-discover-subtitle {
          color: #999;
          font-size: 24px;
        }
      }

      .discover-img {
        width: 90px;
        height: 90px;
      }
    }
  }

  .suggest {
    margin-top: 20px;
    background: #fff;
    .suggest-head {
      .suggest-head-title {
        .striping {
        }

        .icon {
          color: #f9534e;
          font-size: 30px;
        }

        .title {
          font-size: 36px;
          font-weight: 600;
        }
      }

      .tip {
      }
    }

    .suggest-main {
    }
  }
}
