// 当前地址
.ataddress {
  .ataddress-title {
    padding: 20px;
  }

  .ataddress-main {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 0 20px;
    > .text {
      color: #333;
      font-weight: 600;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .location {
      display: flex;
      align-items: center;
      .location-icon {
        .icon {
          color: #008fff;
          font-size: 35px;
        }
      }

      > .text {
        color: #008fff;
        width: 120px;
      }
    }
  }
}
