.categories {
  position: relative;
  z-index: 4;
  .categories-nav {
    position: relative;
    z-index: 4;
    display: flex;
    background-image: linear-gradient(90deg, #0af, #0085ff);
    height: 80px;
    .categories-scroll {
      width: 90vw;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch; //ios不流畅问题
      padding: 20px 0 10px 0;
      .categorie {
        display: inline-block;
        white-space: normal;
        text-align: center;
        padding: 0 20px;
        color: #b2e2ff;
        .categorie-active {
          display: block;
          color: #fff;
          padding: 0 0 6px 0;
          border-bottom: 4px #fff solid;
          white-space: normal;
        }
      }
    }

    .categories-move {
      width: 10vw;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: -8px 0px 10px -4px rgba(0, 0, 0, 0.3);
      .icon {
        font-size: 32px;
        color: #fff;
      }
    }
  }

  .categories-modal {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 65vh;
    overflow: hidden;
    z-index: 4;
    .modal-bar {
      background: #f9f9f9;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 25px;
      .modal-bar-title {
        font-weight: 600;
        color: #333;
      }
      .icon {
        font-size: 32px;
        font-weight: 600;
        color: #999999;
      }
    }

    .modal-main {
      display: flex;
      height: calc(100% - 80px);
      .modal-main-left {
        height: 100%;
        background: #fcfcfc;
        width: 260px;
        -webkit-overflow-scrolling: touch;
        .modal-main-left-item {
          display: flex;
          margin: 40px 0;
          font-size: 26px;
          color: #666;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-left: 8px transparent solid;
          .modal-main-left-item-text {
            margin-left: 20px;
          }

          .modal-main-left-item-count {
            color: #b0b0b0;
            border-radius: 10px;
            border: 1px #f3f3f3 solid;
            padding: 0 8px;
            font-size: 22px;
            margin-right: 20px;
          }
        }
        .modal-active {
          border-left: 8px #2395ff solid;
        }
      }

      .modal-main-right {
        background: #fff;
        flex: 1;
        padding-left: 50px;
        -webkit-overflow-scrolling: touch;
        .modal-main-right-title {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          padding: 10px 0;
          .image {
            width: 74px;
            height: 74px;
            margin-right: 30px;
          }
          .modal-main-right-title-text {
            color: #666;
          }
          .modal-main-right-title-count {
            margin-left: auto;
            color: #999;
            font-size: 22px;
            margin-right: 30px;
            border-radius: 10px;
            border: 1px #f3f3f3 solid;
            padding: 0 8px;
          }
        }
        .modal-active {
          .modal-main-right-title-text {
            color: #2395ff;
            font-weight: 600;
          }
          .modal-main-right-title-count {
            background: #2395ff;
            color: #fff;
          }
        }
      }
    }
  }

  .bg {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
  }
}
