// 城市搜索结果
.result-city {
  margin-left: 20px;
  height: 100vh;
  -webkit-overflow-scrolling: touch; //ios不流畅问题
  .result-city-item {
    padding: 25px 0;
    border-bottom: 1px #eee solid;
    color: #666;
    font-size: 24px;
    &:last-of-type {
      border: none;
    }
  }
  .result-city-null {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
  }
}
