$default-color: #56d176;
$blue-color: #008cfe;
taro-button-core + taro-button-core {
  margin-top: 0 !important;
}
.ele-ebutton {
  border: none;
  background: none;
  outline: none;
  font-size: 28px;
  border-radius: 6px;
  @include flex;
  &::after {
    border: none;
  }
}
.ele-ebutton-loading {
  padding-right: 10px;
  &::after {
    content: '';
    display: block;
    width: 26px;
    height: 26px;
    animation: isloading 0.8s infinite linear;
    border-left: 2.5px transparent solid;
    border-right: 2.5px transparent solid;
    border-top: 2.5px transparent solid;
    border-bottom: 2.5px #f5f5f5 solid;
    border-radius: 50%;
  }
}
.ele-ebutton-default {
  border: 1px solid $blue-color;
  width: 240px;
  height: 80px;
  color: $blue-color;
  &:active {
    color: lighten($blue-color, 15%) !important;
    border: 1px solid lighten($blue-color, 15%) !important;
    background: none !important;
  }
}

.ele-ebutton-green {
  width: 240px;
  height: 80px;
  background: $default-color;
  color: $white-color;
  &:active {
    color: $white-color !important;
    background: lighten($default-color, 15%) !important;
  }
}

.ele-ebutton-blue {
  width: 240px;
  height: 80px;
  background: $blue-color;
  color: $white-color;
  &:active {
    color: $white-color !important;
    background: lighten($blue-color, 15%) !important;
  }
}
.ele-ebutton-href {
  color: $color-333;
  &:active {
    color: $color-666 !important;
    background: none !important;
  }
}

@keyframes isloading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
