.shopitem {
  overflow: hidden;
  display: flex;
  padding-bottom: 30px;
  .shopitem-left {
    width: 190px;
    height: 190px;
    margin-right: 20px;

    .shopitem-left-img {
      width: 190px;
      height: 190px;
    }
  }

  .shopitem-right {
    overflow: hidden;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    height: 190px;
    .shopitem-title {
      overflow: hidden;
      color: #333;
      font-size: 30px;
      font-weight: 600;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .shopitem-intro {
      color: #999;
      font-size: 24px;
    }

    .shopitem-pingfen {
      color: #999;
      font-size: 24px;
    }
    .shopitem-num {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .shopitem-num-price {
        color: #ff5339;
        font-size: 30px;
        display: flex;
        align-items: center;
        &::before {
          content: '\A5';
          display: inline-block;
          font-size: 24px;
        }
        .shopitem-num-price-left {
          color: #ff5339;
          font-size: 30px;
        }
        .shopitem-num-price-right {
          padding-left: 14px;
          color: #999;
          font-size: 24px;
          text-decoration: line-through;
        }
      }
    }
  }
}
