.selectcity-main-content-abc {
  position: fixed;
  right: 20px;
  top: 240px;
  .selectcity-main-content-abc-item {
    text-align: center;
    color: #9d9d9d;
    margin: 4px;
    font-size: 24px;
  }
}