.useraddress {
  background: #f5f5f5;
  height: 100vh;
  color: #333;
  font-size: 30px;
  .useraddress-item {
    display: flex;
    align-items: center;
    background: #fff;
    padding-left: 20px;
    .item-left {
      width: 120px;
      font-weight: 600;
    }

    .item-right {
      flex: 1;
      margin-left: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-right: 20px;
      .item-right-input {
        flex: 1;
        border-bottom: 1px #f0f0f0 solid;
        padding: 25px 0;
      }
      .item-right-text {
        flex: 1;
        padding: 25px 0;
        border-bottom: 1px #f0f0f0 solid;
      }
      .icon {
        font-size: 30px;
        color: #bbb;
      }
      .br {
        border: none;
      }
    }
  }
  .useraddress-sex {
    background: #fff;
    padding: 20px 0 0 160px;
    display: flex;

    .sex-item {
      border: 1px #ededed solid;
      padding: 10px 35px;
      border-radius: 10px;
      color: #787878;
      &:last-child {
        margin-left: 20px;
      }
    }
    .sex-active {
      background: #eef7ff;
      color: #2395ff;
    }
  }
  .address-submit {
    margin: 30px 20px 0 20px;
    .address-submit-button {
      background: #00d762;
      font-size: 34px;
      font-weight: 600;
      border: none;
      color: #fff;
      outline: none;
      border-radius: 4px;
      &:after {
        border: none;
        border-radius: 0;
      }
      &:active {
        background: #47cf84;
      }
    }
  }
}
