$color: #fff;
$lh: 1.2;

.cartaddress {
  padding: 20px;
  .title {
    color: #ceedff;
  }

  .address-title {
    color: $color;
  }

  .useinfo {
    .useinfo-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .useinfo-title-text {
        overflow: hidden;
        padding: 10px 0;
        color: $color;
        font-size: 44px;
        font-weight: 600;
        line-height: $lh;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .icon {
        color: #fff;
        font-size: 28px;
      }
    }

    .useinfo-name {
      color: $color;
    }
  }
}
