.navswiper-item {
  @include flex;
  flex-direction: column;
  width: 20%;
  padding-top: 20px;
  .navswiper-item-image {
    display: flex;
    justify-content: center;
    width: 100%;
    .nav-image {
      width: 90px;
      height: 90px;
    }
  }
  .navswiper-item-title {
    color: $color-666;
    font-size: 24px;
    text-align: center;
  }
}
