.prize {
  position: relative;
  .tab {
    position: absolute;
    z-index: 1;
    background: #413d3c;
    color: #fff;
    font-size: 24px;
  }

  .prize-img {
    width: 220px;
    height: 220px;
  }

  .prize-head {
    .title {
    }

    .price {
      .points {
      }

      .original {
      }
    }
  }
}
