.footerdic {
  display: flex;
  align-items: center;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 80px;
  background: #3c3c3c;
  .footerdic-price {
    padding-left: 10px;
    color: #fff;
    font-size: 36px;
    font-weight: 600;
  }

  .footerdic-discounts {
    color: #999;
    font-size: 24px;
  }

  .footerdic-submit {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 210px;
    height: 100%;
    border: none;
    background: #00e067;
    color: #fff;
    font-size: 34px;
    line-height: 80px;
    text-align: center;
    border-radius: 0;
  }
}
