.ele-eitem {
  background: $white-color;
  font-size: $font-size-32;
  padding-left: 20px;
  &:last-child {
    .ele-eitem-main {
      border-bottom: none;
    }
  }
  .ele-eitem-main {
    border-bottom: 1px solid #f5f5f5;
    display: flex;
    align-items: center;
    .ele-eitem-content-img {
      margin-right: 10px;
      width: 60px;
      height: 60px;
    }
    .ele-eitem-content {
      display: flex;
      align-items: center;
      flex: 1;
      padding-right: 20px;
      .ele-eitem-content-title {
        flex: 1;
        padding: 25px 0;
      }
      .ele-eitem-content-icon {
        margin-left: 10px;
      }
      .ele-eitem-extra {
        color: $color-666;
      }
    }
  }
}
