.navbar {
  height: 85px;
  background: $bgcolor;
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  .navbar-icon {
    position: absolute;
    z-index: 1;
    margin-left: 20px;
    .icon {
      font-size: 30px;
    }
  }
  .title {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
  }
}
