$height: 88px;
$margin-lr: 20px;

.navbar {
  display: flex;
  position: relative;
  align-items: center;
  height: $height;
  background: $defualt-background-image;
  .navbar-black {
    position: absolute;
    z-index: 1;
    font-size: $font-size-34;
    color: $white-color;
    left: $margin-lr;
  }
  .navbar-title {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white-color;
    font-size: $font-size-34;
  }
  .navbar-href {
    position: absolute;
    z-index: 1;
    color: $white-color;
    font-size: $font-size-32;
    right: $margin-lr;
  }
}
