.activitymodal {
  position: fixed;
  z-index: 8;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  .activitymodal-main {
    position: absolute;
    z-index: 2;
    bottom: 0;
    height: 60vw;
    padding: 30px;
    background: #fff;
    .activitymodal-title {
      color: #333;
      font-size: 34px;
      font-weight: 600;
      text-align: center;
    }

    .icon.icon-guanbi {
      position: absolute;
      top: 10px;
      right: 10px;
      color: #666;
      font-size: 50px;
    }
    .activitymodal-list {
      height: 50vw;
      .activitymodal-item {
        display: flex;
        padding: 10px 0;
        .activitymodal-item-left {
          display: inline-table;
          margin-right: 15px;
          padding: 0 10px;
          font-size: 24px;
          line-height: 1.2;
        }

        .activitymodal-item-right {
          flex: 1;
          color: #666;
          font-size: 24px;
          line-height: 1.2;
        }
      }
    }
  }
  .activitymodal-bg {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
  }
}
