.money {
  display: flex;
  height: 150px;
  background: #fff;
  .money-red {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-right: 1px #f0f0f0 solid;
    &:last-child {
      border: none;
    }
    .money-imgs {
      width: 48px;
      height: 48px;
      .money-image {
        width: 100%;
        height: 100%;
      }
    }
  }

  .money-gold {
    width: 50%;
    .money-imgs {
      width: 48px;
      height: 48px;
      .money-image {
        width: 100%;
        height: 100%;
      }
    }
  }
}
