.ordercard {
  margin: 20px 0;
  padding: 20px;
  background: #fff;
  .ordercard-top {
    display: flex;
    .ordercard-top-left {
      margin-right: 20px;
      .ordercard-top-img {
        width: 64px;
        height: 64px;
      }
    }

    .ordercard-top-right {
      flex: 1;
      .ordercard-head {
        padding-bottom: 20px;
        border-bottom: 1px #f5f5f5 solid;
        .ordercard-head-top {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .ordercard-head-top-title {
            font-size: 32px;
          }

          .ordercard-head-top-tip {
            color: #2395ff;
          }
        }

        .ordercard-head-time {
          padding-top: 10px;
          color: #999;
          font-size: 24px;
          line-height: 1.2;
        }
      }

      .ordercard-text {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        border-bottom: 1px #f5f5f5 solid;

        .ordercard-text-title {
          color: #666;
        }

        .ordercard-text-price {
          color: #333;
          font-weight: 600;
        }
      }
    }
  }

  .ordercard-bottom {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    .ordercard-bottom-button {
      padding: 10px;
      border: 1px currentColor solid;
      color: #2395ff;
      line-height: 1.2;
    }
  }
}
