.ele-isloading {
  @include flex;
  height: 200px;
  &::after {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    animation: isloading 0.5s infinite linear;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-top: 4px solid #2395ff;
    border-radius: 100%;
    z-index: 1;
  }
}

.ele-move {
  @include flex;
  height: 50px;
  .ele-move-icon {
    padding-right: 10px;
    &::after {
      content: '';
      display: block;
      width: 26px;
      height: 26px;
      animation: isloading 1s infinite linear;
      border-left: 4px #eeeeee solid;
      border-right: 4px #eeeeee solid;
      border-top: 4px #eeeeee solid;
      border-bottom: 4px #2395ff solid;
      border-radius: 50%;
    }
  }
  .ele-move-title {
    color: $color-666;
    font-size: $font-size-24;
  }
}

@keyframes isloading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
