.cart {
  position: fixed;
  z-index: 5;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(61, 61, 63, .9);
  .cart-bar {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    height: 100px;
    .cart-icon {
      position: relative;
      width: 80px;
      height: 80px;
// box-shadow: 0 -5px 5px 0 rgba(0, 0, 0, 0.1);
      margin-top: -20px;
      margin-left: 30px;
      border: 10px #444 solid;
      background: #363636;
      border-radius: 50%;
      box-sizing: content-box;
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 45px;
        height: 45px;
        margin: auto;
        background: url('../../../../assets/images/cart1.svg') 50% no-repeat;
      }
      .car-close {
        position: absolute;
        top: -10px;
        right: -10px;
        height: 30px;
        padding: 0 7px;
        background-image: linear-gradient(-90deg, #ff7416, #ff3c15 98%);
        color: #fff;
        font-size: 24px;
        line-height: 30px;
        border-radius: 15px;
      }
    }

    .cart-icon-active {
      background: #3190e8;
      &::after {
        background: url('../../../../assets/images/cart2.svg') 50% no-repeat;
      }
    }

    .cart-total {
      flex: 1;
      margin: 20px 0 0 40px;
      .cart-total-title {
        height: 30px;
        color: #999;
        font-size: 26px;
      }
      .cart-total-price {
        height: 32px;
        color: #fff;
        font-size: 32px;
        line-height: 32px;
        .cart-total-yh {
          color: #999;
          font-size: 24px;
          text-decoration: line-through;
        }
      }
      .cart-total-psfei {
        height: 24px;
        color: #999;
        font-size: 24px;
      }
    }

    .cart-tip {
      width: 250px;
      background: #535356;
      color: #fff;
      font-size: 28px;
      font-weight: 600;
      line-height: 100px;
      text-align: center;
    }
    .cart-result {
      width: 200px;
      height: 100%;
      background: #38ca73;
      color: #fff;
      font-size: 28px;
      font-weight: 600;
      line-height: 100px;
      text-align: center;
    }
  }
  .cart-shops {
    position: fixed;
    z-index: 1;
    right: 0;
    bottom: 100px;
    left: 0;
    background: #fff;
    .cart-shops-tip {
      background: #fffad6;
      font-size: 24px;
      text-align: center;
    }

    .cart-shops-main {
      .cart-shops-main-topbar {
        display: flex;
        justify-content: space-between;
        padding: 15px 20px;
        border-bottom: 1px #ddd solid;
        background: #eceff1;
        .topbar-left {
          color: #666;
          font-size: 32px;
        }

        .topbar-right {
          color: #666;
          font-size: 30px;
          .icon {
            padding-right: 10px;
            color: #666;
            font-size: 30px;
          }
        }
      }

      .cart-shops-main-list {
        width: auto;
        max-height: 80vw;
        padding: 0 20px;
        .list-item {
          display: flex;
          align-items: center;
          padding: 20px 0;
          border-bottom: 1px #eee solid;
          .item-title {
            flex: 5.5;
            color: #333;
            font-size: 32px;
            .item-title-min {
              color: #999;
              font-size: 22px;
            }
          }

          .item-prite {
            flex: 2.5;
            color: #ff5339;
            font-weight: 600;
            text-align: right;
            .item-prite-del {
              padding-right: 20px;
              color: #999;
              font-size: 22px;
              font-weight: normal;
              text-decoration: line-through;
            }
          }
          .item-prite-button {
            display: flex;
            flex: 3;
            justify-content: flex-end;
          }
        }

        .cart-shops-main-canhefei {
          display: flex;
          padding: 20px 0;
          .canhe {
            flex: 5.5;
            color: #333;
            font-size: 32px;
          }

          .canhe-price {
            flex: 2.5;
            color: #ff5339;
            font-weight: 600;
            text-align: right;
          }
          .canhe-null {
            flex: 3;
          }
        }
      }
    }
  }
  .cart-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: .4;
    transition: opacity .3s ease;
  }
}
