.leftbar {
  position: relative;
  display: flex;
  background: #f8f8f8;
  padding: 30px 15px;
  align-items: center;
  .leftbar-icon {
    width: 26px;
    height: 26px;
    margin-right: 10px;
  }
  .leftbar-name {
    font-size: 24px;
    color: #666;
  }

  .leftbar-num {
    position: absolute;
    background-image: linear-gradient(-90deg, #ff7416, #ff3c15 98%);
    border-radius: 15px;
    right: 10px;
    top: 5px;
    color: #fff;
    height: 30px;
    line-height: 30px;
    font-size: 24px;
    padding: 0 7px;
  }
}
.leftbar-active {
  background: #fff;
}
