// 收货地址
.profile {
  .profile-title {
    padding: 20px;
    color: $color-666;
    font-size: $font-size-26;
  }
  .profile-main {
    background: #fff;
    padding: 0 20px;
    .profile-item {
      border-bottom: 1px #eeeeee solid;
      padding: 20px 0;
      .item-top {
        display: flex;
        align-items: center;
        .ming {
          color: #333;
          font-weight: 600;
          font-size: $font-size-30;
        }
        .sex {
          padding: 0 10px;
          font-size: 24px;
          color: $color-666;
        }
        .iphone {
          font-size: 24px;
          color: $color-666;
        }
      }
      .item-address{
        padding-top: 10px;
        font-size: $font-size-24;
      }
    }
  }
}
