// weapp
page,
view,
text,
swiper,
swiper-item,
image,
navigator {
  margin: 0;
  padding: 0;
  font-family: poison, PingFang SC, Helvetica Neue, Arial, sans-serif;
  font-size: 28px;
  line-height: 1.2;
  box-sizing: border-box;
}

// h5
html {
  line-height: 1.2;
}
div,
span,
a {
  margin: 0;
  padding: 0;
  font-size: 28px;
  box-sizing: border-box;
}

// 其他
.ele-show {
  display: block !important;
}
.ele-hide {
  display: none !important;
}

.ele-hidden {
  visibility: hidden !important;
}
.ele-visible {
  visibility: visible !important;
}

.clearfix {
  &::after,
  &::before {
    content: '';
    display: table;
    clear: both;
  }
}
