// @mixin border($direction: 'top', $color, $px: '1px', $solid: 'solid') {
//   border-#{$direction}: $px $color $solid;
// }

@mixin flex() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin ele-animation(
  $direction: 'top',
  $scaleStart: scaleY(0),
  $scaleEnd: scaleY(1),
  $origin: center top
) {
  .ele-#{$direction}-enter {
    opacity: 0;
    transform: $scaleStart;
  }
  .ele-#{$direction}-enter-active {
    opacity: 1;
    transform: $scaleEnd;
    transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms,
      opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
    transform-origin: $origin;
  }
  .ele-#{$direction}-exit {
    opacity: 1;
  }
  .ele-#{$direction}-exit-active {
    opacity: 0;
    transform: $scaleStart;
    transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms,
      opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
    transform-origin: $origin;
  }
}
