.test {
  background: #eeeeee;
  margin-top: 20px;
  height: 500px;
}
.abc {
  position: fixed;
  top: 0;
  right: 0;
  .abc-item {
    background: red;
    color: #fff;
    padding: 10px;
    margin: 10px;
  }
}
