.myinput {
  .password-input {
    background: #f2f2f2;
    display: flex;
    border: 1px #ececec solid;
    height: 80px;
    align-items: center;
    padding-left: 10px;
  }
  .password-error {
    border: 1px #f0937e solid;
  }
  .password-tip {
    color: #ea3106;
    font-size: 24px;
    padding-top: 10px;
  }
}
